:root {
    --navHeight : 2vh;
}

@font-face {
    font-family : UbuntuBold;
    src : url(./fonts/Ubuntu/Ubuntu-Bold.ttf);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: UbuntuBold;
    margin : 0;
    height : 100vh;
    /* overflow-x : hidden; */
    display : grid;
    grid-template-columns: 2fr 5fr;
    grid-template-areas : 'aside article'
                          'footer footer';
    box-sizing: border-box;
    position : relative;
	background : url(./img/fancy_deboss.png) repeat;
	background-position : top left;
}



/* nav {
    width : 100%;
    height : var(--navHeight);
    border : 1px solid black;
    color : white;
    grid-area : nav;
} */

aside {
    /* border : 3px solid red; */
    height : 720vh;
    /* border-right : 5px solid black; */
}

div.aside {
    height : 100vh;
    padding : 2em 1em;
    /* border : 3px solid black; */
    /* background-color : cyan; */
    grid-area : aside;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items : center;
    box-sizing: border-box;
    position : sticky;
    top : 0;
}




div.aside div.title {
    text-align : center;
    margin-top : 1em;
    width : 100%;
    font-size : 1.3em;
}



div.aside div.photo {
    width : 180px;
    height : 180px;
    background : url(./img/sjabd.jpg);
    background-size : cover;
    border-radius : 50%;
}

div.aside div.menu {
    display : flex;
    font-size : 1.5em;
    flex-direction : column;
    justify-content: center;
    align-items : center;
}

div.menu ul {
    list-style-type: none;
    padding : 0;
    margin : 0;
    display: flex;
    flex-direction : column;
}

div.menu ul li {
    display: flex;
    justify-content: center;
}

div.menu ul li a {
    padding : 0.1em 1em;
    margin-bottom: 0.1em;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    display : block;
    float : left;
    text-align : center;
}

div.menu ul li a::after {
    content: '';
    display : block;
	margin : auto;
    width : 0%;
    height : 2px;
    background-color: black;
    transition : .5s;
    transform-origin: center;
}

div.menu ul li a.active::after {
    width : 100%;
}

div.menu ul li a:hover::after {
    width : 100%;
}


article {
    height : 100vh;
    width : 100%;
    grid-area : article;
    /* border : 1px solid black; */
    box-sizing: border-box;
}



article div.part {
    width : 100%;
    /* border : 2px solid black; */
    box-sizing: border-box;
    /* background-color: mediumaquamarine; */
    min-height : 100vh;
}


div.part {
    display : flex;
    flex-direction: column;
    justify-content : flex-start;
    align-items : flex-start;
    padding-bottom : 18em;
}


div.titr {
    padding : 1em;
    font-size : 3em;
    border-bottom : 5px solid red;
    margin-bottom: 1em;
}


div.context {
    /* border : 2px solid red; */
    width : calc(100% - 40px);
    height : 40%;
    margin : 0 auto;
}


/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
} 



div.skill div.bar {
    margin-top : 5px;
    width : 20vw;
    height : 10px;
    background-color : rgba(128, 128, 128, 0.5);
}


div.skill div.bar div.percent {
    width : 0;
    height : 10px;
    background-color: dodgerblue;
    transition : 1s;
}


div.barContainer {
	display : flex;
	flex-direction : row;
}

div.barContainer div.percentContainer {
	margin : 0;
	padding : 0;
	padding-left : 0.5em;
	font-size : 0.7em;
	align-self : center;
}

#About div.context {
    font-size : 1.5em;
}

#About code {
    background-color : red;
    color : white;
    border-radius: 10px;
    padding : 1px 4px;
    font-family: UbuntuBold;
}

#About ul li {
    margin : 10px;
    line-height : 1.6em;
}

#Skills div.mySkills {
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows: auto;
    font-size : 1.2em;
}


#Skills div.mySkills div.skill {
    /* border : 1px solid black; */
    padding : 1em;
    box-sizing: border-box;
}

#Skills div.subtitr {
	font-size : 1.4em;
    padding : 0.5em;
    background-color: crimson;
}

#Contact div.context {
    margin-top : 1em;
    display : grid;
    grid-template-columns : 1fr;
    font-size : 1.7em;
}


#Contact div.context div {
    display : grid ;
    grid-template-columns: 1fr 5fr;
}

#Contact div.context div * {
    /* border : 1px solid black; */
    display : flex;
    justify-content: center;
    align-items : center;
    padding : 1em;
}


footer {
    grid-area : footer;
    height : 50vh;
    /* background-color: black; */
    display : grid;
    grid-template-columns: 1fr 1fr;
}

footer div {
    /* background-color: cyan; */
    border : 1px solid black;
}

@media only screen and (max-width : 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas : 'aside'
                              'article';
    }

    aside {
        height : 100vh;
        border : none;
    }


    div.menu ul { 
        flex-direction : row;
        flex-wrap : wrap;
        justify-content: center;
    }

    div.menu ul li {
        margin-top : 1em;
    }

    div.context div {
        font-size : 0.8em;
    }
	
	#Skills div.mySkills {
		font-size : 2em;
	}
}



@media only screen and (max-width : 500px) {
    div.menu ul { 
        flex-direction : column;
    }

    div.menu ul li {
        margin-top : 0;
    }

    div.context div {
        font-size : 0.7em;
    }


    div.skill div.bar,div.skill div.bar div.percent {
        height : 5px;
    }
	
		
	#Skills div.mySkills {
		font-size : 2em;
	}
}



